In [42]:
import numpy as np
import pandas as pd
from datetime import *

In [51]:

Country_Stockmarket_Dict1 = {"USA":"DJIA"} #Sample
Country_Stockmarket_Dict = {
"Austria":"ATX Index",
"Belgium":"Bel-20",
"Denmark":"OMX Copenhagen",
"Finland":"OMX Helsinki",
"France":"CAC 40",
"Germany":"DAX",
"Greece":"Athex Composite",
"Italy":"FTSE MIB",
"Netherlands":"AEX",
"Norway":"OBX Index",
"Portugal":"PSI 20",
"Russia":"RTS Index",
"SouthAfrica":"FTSE JSE Africa All Share",#
"Spain":"IBEX 35",
"Sweden":"OMX Stockholm 30",
"Switzerland":"Swiss Market",
"Turkey":"BIST 100",
"UnitedKingdom":"FTSE 100",#
"Australia":"S&P ASX",
"China":"Shanghai Composite Index",
"HongKong_China":"Hang Seng",#
"India":"S&P BSE Sensex",
"Indonesia":"JSX Index",
"Japan":"Nikkei 225",
"Malaysia":"FTSE Bursa Malaysia KLCI",
"NewZealand":"S&P NZX 50",#
"Philippines":"PSEi Index",
"KoreaSouth":"KOSPI",#
"Singapore":"Straits Times",
"Thailand":"SET",
"Brazil":"Bovespa",
"Canada":"S&P TSX Composite",
"Mexico":"IPC",    
"UnitedStates":"DJIA",#
}
#set date
Date_Template = pd.DataFrame({"Date": pd.date_range('2020-02-01', datetime.today())})
#print(Date_Template.head())
#print(Date_Template.tail())
Stock = Date_Template

for Country, Market in Country_Stockmarket_Dict.items():
    #print(Country+"_"+Market+".csv")
    Dummy = pd.read_csv(Country+"_"+Market+".csv",skipinitialspace=True).sort_values("Date")
    Dummy[Country] = Dummy["Close"]
    Dummy["Date"] = pd.to_datetime(Dummy["Date"], infer_datetime_format=True)
    Dummy = Dummy.drop(["Open","High","Low","Close"],axis=1)
    #print(Dummy.head())
    Stock = Stock.merge(Dummy, on="Date",how="left")
print(Stock.tail())

          Date  Austria  Belgium  Denmark  Finland  France  Germany  Greece  \
283 2020-11-10      NaN      NaN      NaN      NaN     NaN      NaN     NaN
284 2020-11-11      NaN      NaN      NaN      NaN     NaN      NaN     NaN
285 2020-11-12      NaN      NaN      NaN      NaN     NaN      NaN     NaN
286 2020-11-13      NaN      NaN      NaN      NaN     NaN      NaN     NaN
287 2020-11-14      NaN      NaN      NaN      NaN     NaN      NaN     NaN

     Italy  Netherlands  ...  Malaysia  NewZealand  Philippines  KoreaSouth  \
283    NaN          NaN  ...       NaN    12612.39          NaN         NaN
284    NaN          NaN  ...       NaN         NaN          NaN         NaN
285    NaN          NaN  ...       NaN         NaN          NaN         NaN
286    NaN          NaN  ...       NaN         NaN          NaN         NaN
287    NaN          NaN  ...       NaN         NaN          NaN         NaN

     Singapore  Thailand  Brazil  Canada  Mexico  UnitedStates
283        NaN       NaN     NaN     NaN     NaN           NaN
284        NaN       NaN     NaN     NaN     NaN           NaN
285        NaN       NaN     NaN     NaN     NaN           NaN
286        NaN       NaN     NaN     NaN     NaN           NaN
287        NaN       NaN     NaN     NaN     NaN           NaN

[5 rows x 35 columns]

In [52]:
Stock

,Date,Austria,Belgium,Denmark,Finland,France,Germany,Greece,Italy,Netherlands,...,Malaysia,NewZealand,Philippines,KoreaSouth,Singapore,Thailand,Brazil,Canada,Mexico,UnitedStates
0,2020-02-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-02-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-02-03,3056.63,3929.27,1176.74,10096.55,5832.51,13045.19,903.47,23460.01,592.36,...,1521.95,11550.16,7137.03,2118.88,3116.31,1496.06,114629.21,17379.76,NaN,28399.81
3,2020-02-04,3083.67,4039.92,1191.86,10246.81,5935.05,13281.74,916.75,23844.85,605.40,...,1535.80,11511.49,7226.90,2157.90,3156.57,1519.38,115556.71,17512.73,45047.07,28807.63
4,2020-02-05,3124.47,4103.04,1227.44,10404.82,5985.40,13478.33,920.99,24236.63,613.41,...,1536.79,11604.08,7352.85,2165.63,3200.13,1534.14,116028.27,17651.59,44782.86,29290.85
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
283,2020-11-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,12612.39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
284,2020-11-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
285,2020-11-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
286,2020-11-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
287,2020-11-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
# save as csv
Stock.to_csv('../data/stocks.csv', index=False)